/node_modules/*
/node_modules
/storage/*.key
/vendor
dump.sql
.env
.phpcs-cache
.env.backup
.env.db
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
package-lock.json
/.vscode
/.idea
/public/js/inittheme.js.gz
/public/js/inittheme.js.br
/public/js/app.js.br
/public/js/app.js.gz
/public/css/app.css.br
/public/css/app.css.gz
wp-config.php
public/local-phpinfo.php
sql/local.sql
public/mix-manifest.json
public/js/app.js.LICENSE.txt
public/js/inittheme.js
appwrite.json
priv-*
.DS_Stor*
/*/.DS_Stor*
